<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medium Crawler</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="stylesheet" href="../assets/css/index.css">

</head>

<body>
    <header>
        <h1>Medium Crawler</h1>
        <div class="inputform">
            <input type="search" placeholder="Search with tags" name="tag" id="tagsearch">
            <button type="button" onclick="getinfo()" class="submitbtn">Crawl</button>
        </div>
    </header>
    <main>
        <div class="relatedtags">
        </div>
        <section class="postpreview">
        </section>
        <div class="load">
        <button type="button" class="nextbtn">Load more</button>
    </div>
    </main>

    <script src="../assets/scripts/search.js"></script>

</body>

</html>